@media all and (max-width: 600px) {
    article.w3-right.w3-hide-small {
        display: none;
    }

    article.m6:nth-child(1) > img:nth-child(1) {
        display: none;
    }

    .w3-col, .w3-col.l6, .w3-col.m6 {
        width: auto;
    }
}