<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/favicon.png">
    <title>Shoe Shelf</title>
</head>

<body>
<main>
    <div class="container">
        <div class="about-us">
            <div>
                <img src="/static/shoes.jpg" alt="">
                <img src="/static/shoes2.jpg" alt="">
            </div>
            <p>
                <a href="/register">Register Now</a> and Try it!
            </p>
        </div>
    </div>
</main>
</body>

</html>